In [3]:
import pandas as pd
import numpy as np

In [4]:
car=pd.read_csv('quikr_car.csv')
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [6]:
car.shape

(892, 6)

In [7]:
car=car[car['name']!="2012 Tata Sumo Gold f"]

In [8]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

## Quality

- year has many non-year values
- year object to int
- price has 'Ask for price'
- price object to int
- price has ,
- kms_driven has kms with integers
- kms_driven object to int
- kms_driven has nan-values
- fuel_type has nan values
- name is spammed

In [9]:
backup=car.copy()

#Cleaning

In [10]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'd Ex', 'n...', 'e...', 'D...', ', Ac',
       'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab', 't xe',
       'EV2', 'r...', 'zest'], dtype=object)

In [11]:
car=car[car['year'].str.isnumeric()]

In [12]:
car['year']=car['year'].astype(int)

In [13]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [14]:
car=car[car['Price']!="Ask For Price"]
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
6,Ford Figo,Ford,2012,"1,75,000","41,000 kms",Diesel

In [15]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [16]:
car['Price']

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int32

In [17]:
car['kms_driven']

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [18]:
car['kms_driven']=car['kms_driven'].str.replace(',','')

In [19]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0)

In [20]:
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890    Petrol
891    Petrol
Name: kms_driven, Length: 819, dtype: object

In [21]:
car=car[car['kms_driven'].str.isnumeric()]      #remove petrol data

In [22]:
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
883     50000
885     30000
886    132000
888     27000
889     40000
Name: kms_driven, Length: 817, dtype: object

In [23]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.3+ KB

In [24]:
car['kms_driven']=car['kms_driven'].astype(int)

In [25]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [26]:
car=car[~car['fuel_type'].isna()]        #~ means excluding

In [27]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [28]:
car['name']=car['name'].str.split().str.slice(0,3).str.join(' ')

In [29]:
car['name']

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [30]:
car              #indicies are changed therefore reset

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [31]:
car.reset_index

<bound method DataFrame.reset_index of                        name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]>

In [32]:
car.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [33]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [34]:
car.describe()         #75% are around 5l but max is 8l

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [35]:
car[car['Price']>6e6]      #carprice greater then 60l

                   name   company  year    Price  kms_driven fuel_type
562  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel

In [36]:
car=car[car['Price']<6e6]

In [37]:
car.describe()

              year         Price     kms_driven
count   815.000000  8.150000e+02     815.000000
mean   2012.442945  4.017933e+05   46277.096933
std       4.005079  3.815888e+05   34318.459638
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.900000e+05   56879.000000
max    2019.000000  3.100000e+06  400000.000000

In [38]:
car=car.reset_index(drop=True)

In [39]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        815 non-null    object
 1   company     815 non-null    object
 2   year        815 non-null    int32
 3   Price       815 non-null    int32
 4   kms_driven  815 non-null    int32
 5   fuel_type   815 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [40]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [41]:
car.to_csv('Cleandata.csv')     #new copy of cleaned data

Model

In [42]:
X= car.drop(columns='Price')       #X has all attributes except price
y= car['Price']

In [43]:
#without random state
from sklearn.model_selection import train_test_split           
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.4)

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder #converts alpha bet num
from sklearn.compose import make_column_transformer  #transform the columns
from sklearn.pipeline import make_pipeline  #Sending rawdata to 1 end & output from another

In [45]:
ohe = OneHotEncoder()    #Object of onehotencoder and converts alphbtcl data to numrical
ohe.fit(X[['name','company','fuel_type']])       #converts to num

OneHotEncoder()

In [46]:
ohe.categories_                 #all values under each column specified

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
        'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
        'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
        'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
        'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
        'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
        'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
        'Volkswagen Passat Diesel', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
        'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [47]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']), remainder='passthrough')
#making 2 diff operations together to send into pipeline

In [48]:
lr = LinearRegression()  #used to predict the value of a variable based on the value of another variable

In [49]:
pipe=make_pipeline(column_trans,lr)  #converting values and sending to model

In [50]:
pipe.fit(X_train,y_train)  #training the data

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [51]:
#training the X_train , y_train data and predicting output from X_test(already trained data) & storing in variable(y_pred) then
#checking for the r2_score using y_test and predicted output (y_pred)

In [52]:
y_pred=pipe.predict(X_test)         #prediction value (money)  #X_test is the set of new data used for prediction

In [53]:
y_pred                             #predicted money for each data row

array([ 240577.51767744,  606217.69662722,  377660.34602437,
        692228.86947455,  -33057.64231994,  137022.12219201,
        160624.64518937,  710345.13537934,  448204.49947935,
        703952.83799272,   96637.36529164,  303191.32046512,
        261377.76601321,  198604.47139493,  234801.77403819,
        762905.28478239,  234129.27363545,  623307.34749007,
        -54738.06231288,  295748.73001092,  253665.31416418,
        242816.92815522,  282137.92842813,  410954.8662269 ,
        415945.42885496,  193316.2649597 ,  607496.7231541 ,
        152544.25639176,  258630.47721547,   51269.07950886,
       1058460.28799428,  249812.20161709,  681883.31759302,
        217978.1993818 ,  219409.76206779,  481819.45717502,
        354984.96581531,  217260.83605865,  502613.00553451,
        261181.5007765 ,  104267.343961  ,  257021.19532134,
        323598.85413236,  283001.40405852,  189042.6137948 ,
        175117.86016805,  695501.74831174,  165629.48730209,
        461288.88989458,  374529.63812517,  130688.80239056,
        400244.36616135,   14710.48229285,  448943.39206524,
        237797.246657  ,  174531.97624274,  197722.10935178,
        208004.13436014,  129104.36343067,  155909.65919914,
        234096.89104188,  -26906.61094987, 1602879.14071849,
        703215.86698874,  174466.85727277, 1479776.31676315,
         46813.54214454,   16150.54896557,  194617.18242429,
        262915.30543976,  295748.73001092,  406590.35567261,
        646467.29150049,  264004.25935529,  859943.69777112,
        379020.08527067,  388354.00836522,  405453.88375928,
         27858.63932321,  251550.02895685,   13538.34083331,
        263325.36677945,  379463.96787596,  159452.50372984,
        448595.21329919,  208472.87449274,  255283.58715522,
        548510.47240874,  209490.3655417 ,  108799.95700917,
        259725.53056446,  418671.65922964,  275581.93144612,
        699421.78442132,  242816.92815522,  266437.01411694,
        370615.65623474,  516137.86138064, 1212404.79206929,
        285476.13997726,  703104.66340881,  464406.01746334,
        139675.56149379,   92710.76524363, 1891964.57014528,
        193484.44541539,  270209.29011539,  449309.32276385,
        218652.74195414,  486550.42122432,  225073.8893497 ,
        489647.26906085,  257140.61645394,  276176.1604498 ,
        510686.90442986,  159973.45548963,  348314.99855941,
        441435.30240568,  586840.2812601 ,  503954.8435603 ,
         58958.75448663, 1007716.41120378,  305054.70290981,
        323520.68142405,  361391.42126721,  481819.45717502,
        257869.6399202 ,  227477.74209703,  240755.38146677,
        522547.45669256,  540101.9433252 ,  394430.3206283 ,
        604371.01259534, 1105456.16678195,  470817.23746037,
         99699.62513603,  137917.34930449,  394430.3206283 ,
        407855.02694607,  877212.46714127,  508845.87956613,
        525008.10753498,  115701.91527041,  309930.50094278,
        539293.28944466,  257965.85236061,  251482.41695172,
        260181.36335428,  305054.70290981,  299780.15924162,
       1365100.79493465,  247317.29590853,  159272.66924742,
        520869.03337106,  259944.24034699,  361870.64774659,
        219564.40753377,  499978.49034587,  571849.4398971 ,
       1891932.01066029,  159771.67591433,  202152.79926134,
         78173.18922219,  483423.79241042,  187358.38516372,
        109516.26567888,  572956.46238665,  198698.89390139,
        364501.12620016,  521601.24676967,  404181.56429626,
        503372.54999495,  611252.63831638,  451717.46018614,
        354333.77611556,  369919.71886069,  606217.69662722,
        242258.72884247,   53129.01219054,  703692.36211282,
        479371.64638941,  279785.20903112, -109026.32561246,
        331878.62953869,  689054.97028431,  -73828.188953  ,
       1891932.01066029,  283512.72347156,  183343.00993676,
        180944.79953592,  448725.45123914,  390046.80377045,
        523333.16475564,   98882.75451002, 1087219.81947457,
        354529.13302548,  221183.19444422,  286051.15428114,
        217847.96144185,  378491.59447537,  345759.83275878,
        356168.05021828,   51371.87004273,  356189.39927471,
        525008.10753498,  194422.23922536,  341527.09971047,
        365601.09925702,  862219.60550802,  390089.80863837,
         13082.5080435 ,  384187.00479957,  354008.18126569,
        365681.38714628,  322491.83164281,  235050.32271889,
        271802.57129828,  316482.95104993,  291790.9063533 ,
         95121.28504395,  253637.59177143,  537588.5242863 ,
        242210.34494992,  481819.45717502,  877277.58611125,
        256398.66435872,  238037.87784845,  510076.62809864,
        412505.19789255,  320448.87059683,  -32862.28541002,
        242816.92815522,  374891.0534694 ,  292341.33563519,
        168718.51652925,  176946.12221541,  509673.93574053,
        298467.60696859,  414809.10282892,  163089.32652135,
        189342.661567  ,  245071.02441975,  407046.18846243,
        498709.27442128,  259594.23797108,  489040.16508237,
        310707.74186805,  418671.65922964,  276718.81870528,
        240055.51126421, 1139350.19156066,  371383.53552938,
        451717.46018614,  220842.37940722,  363360.72351835,
        240577.51767744,  280264.39469355,  488051.4019945 ,
        443421.43098989,  298992.54215105,  224583.7651148 ,
        173318.77724431,  253330.01805601,  612489.74859021,
        187430.93641976,  381896.87936469,  527691.57326539,
        628817.01492286,  340834.18473031,  117004.29466989,
        269917.30567523,  276067.62900554,  176855.15567245,
        279067.84570798,  159272.66924742,  860070.67949888,
        690640.56838939,  258591.40583348,  816991.66564393,
        879686.98800028,  340258.71241332,   59787.84680888,
        222496.77380867,   11863.19516546,  371026.74135025,
        646467.29150049,  342397.04000969,  193456.58234877,
        238037.87784845, 1068397.40143742,  583529.90648899,
        239453.22206344,  215729.69692849,  296713.37820196,
        198956.98569331,  395755.51244836, 1891964.57014528,
        349564.89616811, 1006609.38871422,  422184.63395437,
       1086894.2246247 ,  442222.40127254, 1471944.53002816,
        507436.53788881,  274274.07891049,  579453.20388921,
       1420053.11415299, 1891932.01066029,  623131.52627114,
        509217.05769499, 1233107.49552683,  261377.76601321,
        201264.95388248,  820193.03791551, 1560796.71379332,
        110329.28093068,  430485.64025994,   90710.03538329,
       1891932.01066029,  381896.87936469,  223278.79093666,
        222980.56291019,  209044.62300709,  160311.14045321,
        266228.72336961,   51724.91229867])

In [54]:
r2_score(y_test,y_pred)                #r2 score ,first test value passed then predicted

0.7108581148186384

In [55]:
scores=[]
for i in range(1000):
    X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.4, random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    print(r2_score(y_test,y_pred), i)
    scores.append(r2_score(y_test,y_pred))

0.7082732216842573 0
0.6306812642495614 1
0.7171247079847771 2
0.6200356184375533 3
0.6778532720222733 4
0.7700437182241744 5
0.6157151640262253 6
0.6927023276399964 7
0.7435995184513332 8
0.7178558649000163 9
0.7502452956925663 10
0.5783942286055682 11
0.645615304637243 12
0.7373522069050464 13
0.7684723660938148 14
0.7189037924963688 15
0.594593383952845 16
0.737602642464761 17
0.6723933419639196 18
0.6512618025891139 19
0.6571394511043924 20
0.5583467930593182 21
0.7671853480496176 22
0.6436569194853803 23
0.6602391636115823 24
0.6210774126980287 25
0.6386307836515155 26
0.7019674688337741 27
0.750396662082655 28
0.5936841224133649 29
0.6337439013554605 30
0.5816519956628059 31
0.6474438500765898 32
0.7016247789292521 33
0.6207376613374045 34
0.695468274990777 35
0.6804082170357596 36
0.5837484916608322 37
0.6263911203828983 38
0.7292178520277988 39
0.48522858091841903 40
0.6483232675701323 41
0.6232723214553825 42
0.6257155073055182 43
0.7451176259108638 44
0.6057390990686462 45
0.6892077485052422 46
0.6365133304023793 47
0.7945326789786259 48
0.5866714919345561 49
0.6453967058278589 50
0.6514901690291668 51
0.5856439139182605 52
0.7128618698475595 53
0.5900536440360628 54
0.7347029029483925 55
0.7602347273371337 56
0.6638307910980799 57
0.7535270072752543 58
0.5447046614306275 59
0.6361087779290906 60
0.5897637759964314 61
0.5418390272610966 62
0.6624970477234626 63
0.6808220710954094 64
0.6203997824511277 65
0.6389787025906779 66
0.6902546218479862 67
0.5876528732446441 68
0.7139194864570289 69
0.621199599938726 70
0.6473556223812993 71
0.6173174602167957 72
0.7142990548466417 73
0.6730879825572036 74
0.6433729605441554 75
0.6099677538168435 76
0.6075672143541415 77
0.6533655021824294 78
0.650467044467564 79
0.6270498947238918 80
0.6392929552589421 81
0.5417966963379118 82
0.6956536374168031 83
0.69439629287451 84
0.6181648720738144 85
0.7258930180063665 86
0.7431254423041418 87
0.6307777612534138 88
0.650861902871178 89
0.6997804750535175 90
0.6336353713199643 91
0.7212781050204802 92
0.4943980961650093 93
0.6343583627248802 94
0.6325767996937914 95
0.6604147895489849 96
0.6030852862417143 97
0.6403254226430304 98
0.6033155014854339 99
0.688745296113757 100
0.7401256903491436 101
0.53396966893063 102
0.685671251909818 103
0.6511616537958872 104
0.5617512230089015 105
0.6560122043681439 106
0.5791487316504063 107
0.5225880800615823 108
0.658097857268475 109
0.6725591407878566 110
0.5837030033014499 111
0.7063727323096355 112
0.7448101106718447 113
0.7387345355073249 114
0.6792862254486625 115
0.5369202957054129 116
0.6720036893551337 117
0.6325356028961735 118
0.6839042117509497 119
0.7773176944118128 120
0.7076192659262766 121
0.6700390848079523 122
0.7075564913141694 123
0.7696722314202822 124
0.6519497335869439 125
0.6565625411443239 126
0.6324498212245016 127
0.6623416678495538 128
0.7386943228972376 129
0.5782511753296805 130
0.6823747288709313 131
0.7491832944146162 132
0.5687005006459289 133
0.6207982777626504 134
0.7789318578343961 135
0.6339414842459454 136
0.7559075773388628 137
0.6882359279456998 138
0.6582794365763149 139
0.8052524599501499 140
0.6438653387794511 141
0.7243807064391817 142
0.5937761477814726 143
0.6862932691790471 144
0.5739293926874107 145
0.7127147186772869 146
0.6303356096147906 147
0.6345851251330289 148
0.7236404904151521 149
0.7124073985343361 150
0.7827132590379745 151
0.6603322760201391 152
0.6365725675342706 153
0.729308857542696 154
0.6555412975807997 155
0.6059032132591221 156
0.6903695898535427 157
0.6118453796594165 158
0.7288426019609017 159
0.7532177148281987 160
0.7694688766625223 161
0.618417368759405 162
0.6875379196486755 163
0.7107146631668921 164
0.6891021774528572 165
0.6074523625705317 166
0.6563902995799227 167
0.5465826452048343 168
0.6091090262616203 169
0.6511171599305265 170
0.7202158556236509 171
0.5873659616822939 172
0.6301190388216641 173
0.6580941790360586 174
0.6526373284255522 175
0.6627520105136575 176
0.7350424571231607 177
0.6148242619118969 178
0.5518449575098592 179
0.557509672039262 180
0.6745366293914523 181
0.7041146410781921 182
0.6928616782300292 183
0.6467161374304781 184
0.7189984405960531 185
0.6775105006999741 186
0.7093785281604952 187
0.7132553019696551 188
0.5680863121729833 189
0.6939012626599677 190
0.6540971922319182 191
0.6737629594525552 192
0.6876028993665741 193
0.7365234438057973 194
0.6897967064825161 195
0.7547171908789392 196
0.7548453389681089 197
0.5783165497615529 198
0.5839023308218774 199
0.6278482420654431 200
0.614577680785069 201
0.6236843255400089 202
0.7005390002601822 203
0.6342664512797619 204
0.6901330558798112 205
0.7174779686236189 206
0.7033773796024452 207
0.675437239467189 208
0.6740757907226846 209
0.6450339837781357 210
0.65028491076294 211
0.6813186587281759 212
0.7009318821502942 213
0.540140559581225 214
0.7026573457223009 215
0.6233938638626149 216
0.7046096031815091 217
0.6502143903189408 218
0.6415801198206874 219
0.6628476149706608 220
0.6235994882259681 221
0.5099147169056338 222
0.5802082395585415 223
0.598161673946603 224
0.7638998296890034 225
0.6438259263632962 226
0.6075200036963333 227
0.6966314277530059 228
0.5428817579104592 229
0.5236979513981084 230
0.6472140570240444 231
0.6186802777175486 232
0.6633880561692804 233
0.7390422195845017 234
0.5890987625154976 235
0.7360796688558349 236
0.5926803609719447 237
0.639387730030801 238
0.645976155413807 239
0.5964822009334296 240
0.4957174246274759 241
0.6435935769564514 242
0.694904397363409 243
0.5656405031827929 244
0.746291809671168 245
0.6348103402845984 246
0.7647500922512278 247
0.7827189775997704 248
0.6616326896381532 249
0.732267814809156 250
0.6691189016987649 251
0.6348749858321019 252
0.7906945076386267 253
0.7165493981249025 254
0.592895593464166 255
0.6177945378853458 256
0.6867881506028618 257
0.6923766120143431 258
0.610005489955883 259
0.6940269788476916 260
0.7194669337702506 261
0.80294828519912 262
0.6776426486169099 263
0.7153150631427029 264
0.6300565630579567 265
0.5937423173017229 266
0.6606371097150172 267
0.6661900209577718 268
0.6042127613080852 269
0.7025654365589347 270
0.577370297733294 271
0.720903165550004 272
0.7858834948336558 273
0.7023495341531301 274
0.690647434974899 275
0.6942162809050073 276
0.7291292998057546 277
0.6327155852601285 278
0.7636795187421992 279
0.6417548340868549 280
0.646691767000418 281
0.6484234523247447 282
0.7559323657959355 283
0.7187140269518697 284
0.5803376364751887 285
0.53987682805269 286
0.6398625043749925 287
0.629081409654297 288
0.6573294418469589 289
0.5836780537706189 290
0.6900895573559673 291
0.6669729984615098 292
0.7202427554288359 293
0.6854335333634348 294
0.6693318320270668 295
0.6996784478969791 296
0.7357525351503958 297
0.595631391581802 298
0.6557921975226902 299
0.5623600409099999 300
0.5419921326216732 301
0.719425534308368 302
0.6350158537979369 303
0.663228265834777 304
0.5935161230846213 305
0.749030606173918 306
0.7240632691712972 307
0.6293847829036463 308
0.7436644841571574 309
0.687733210274204 310
0.6316996371095174 311
0.5707968066731466 312
0.5855829098664764 313
0.6362492897433214 314
0.7678527370186221 315
0.683572656542097 316
0.6167532646772977 317
0.7063256683447989 318
0.5705771972378217 319
0.5113070239594223 320
0.6070511571089463 321
0.5664428150057821 322
0.5674093370114441 323
0.6430499298132603 324
0.5841122014025562 325
0.7462612239061763 326
0.7534914481108651 327
0.7872204668815683 328
0.6485552003602477 329
0.6668990777293196 330
0.5974587180498007 331
0.7301369703156684 332
0.6834541397781155 333
0.7111350467211994 334
0.7326184262080717 335
0.6875067362086076 336
0.794526967504434 337
0.6984938553890853 338
0.7285770391392243 339
0.7235240697875398 340
0.8070594446550501 341
0.7119835807990724 342
0.6531714078162645 343
0.722218743407316 344
0.6676728421036016 345
0.6364767901299835 346
0.6301865023031095 347
0.620768656555728 348
0.674474015870957 349
0.6750224604327841 350
0.767714551758691 351
0.6011162850823992 352
0.6553865540650157 353
0.7024657757422605 354
0.7524705539054598 355
0.6888452330082062 356
0.6400834978959673 357
0.5018086990962161 358
0.68353760483546 359
0.6481654534375042 360
0.5753017008350354 361
0.6406836407300307 362
0.7528422728340051 363
0.6730827281500719 364
0.602603507809093 365
0.690778765870414 366
0.5988392809238973 367
0.7090492359039189 368
0.7320370117710187 369
0.6602572590700422 370
0.6111927894832816 371
0.6033730484397659 372
0.597014479311199 373
0.6033990072004305 374
0.7193677205299684 375
0.6259993918367304 376
0.7092986631196482 377

0.6822507243660187 378
0.7676094258257915 379
0.5220915991385131 380
0.6873569562325195 381
0.6968731188069843 382
0.7070159167038053 383
0.6556862991638055 384
0.6876365196260412 385
0.6592994829108539 386
0.6927945579717145 387
0.6284588248204517 388
0.5821385490349802 389
0.6829281119292434 390
0.6158411229091085 391
0.7366690506134701 392
0.6210607099303942 393
0.702267514107453 394
0.7383038598870615 395
0.6035244265113424 396
0.7079022176029982 397
0.5721747564435398 398
0.6637163134731436 399
0.7428402704780355 400
0.7494263094432319 401
0.6356126297213205 402
0.5198767549986669 403
0.7041631579158923 404
0.6918332203060592 405
0.7474555155896396 406
0.6308092349542935 407
0.7867874299000672 408
0.7081169165084047 409
0.6417584488575974 410
0.6425969832639435 411
0.7583518981118551 412
0.5309682389923178 413
0.7720882182126395 414
0.5778984528147539 415
0.6145954694651048 416
0.7999052214205572 417
0.7013416129628288 418
0.8219542310117474 419
0.7122649445344533 420
0.6334605991156799 421
0.7139835390737532 422
0.6810111907895855 423
0.713523756484363 424
0.6077440704908628 425
0.6622847510079186 426
0.7646151118065803 427
0.6533006964283008 428
0.7084044708949531 429
0.6322821977617057 430
0.6430984096256325 431
0.7145268252744765 432
0.7485302867185981 433
0.6600131296419927 434
0.735446761084258 435
0.5012493812310956 436
0.6634179053357677 437
0.6745693326474014 438
0.665225626668011 439
0.6738077781820813 440
0.7003541401494717 441
0.6667288589027088 442
0.6822872888368974 443
0.7278753235005826 444
0.6273955972820272 445
0.6901248207239952 446
0.6386276286746746 447
0.770511911894368 448
0.6500277108583474 449
0.7264858187167775 450
0.564391546036842 451
0.6743859940522589 452
0.6718775735643363 453
0.7145426436199115 454
0.5757298533610202 455
0.5650678406572252 456
0.625504369792022 457
0.6323634734378123 458
0.7328953930806261 459
0.6511138312056497 460
0.6724192454647064 461
0.6672651415313268 462
0.635262564969716 463
0.6286246740741227 464
0.6524793759561104 465
0.7143878122284428 466
0.6577484444399412 467
0.7219610874691442 468
0.6471954194654919 469
0.6175351327209608 470
0.673660053745099 471
0.4912417742068266 472
0.7022987245488151 473
0.5738043463235362 474
0.6938842097111498 475
0.6651474972688352 476
0.6964941553565931 477
0.6485201224744366 478
0.5869312303953151 479
0.6175660452765743 480
0.7004598900226156 481
0.6281360787437398 482
0.5669079715936785 483
0.7255311801283784 484
0.48442558247241485 485
0.6670334807775513 486
0.6397889071878138 487
0.6265436418166449 488
0.6790039517479896 489
0.7200878226173962 490
0.7226556543285834 491
0.5764284086362917 492
0.7142158539767096 493
0.6891723008039465 494
0.6861371011246895 495
0.7165863542903925 496
0.5325000705889229 497
0.6418035961562456 498
0.7337916698872748 499
0.7363330863207431 500
0.5827799759991248 501
0.7085477572418741 502
0.6497427140861665 503
0.5589949066181414 504
0.7298568289887807 505
0.6602726479503149 506
0.7187706030007224 507
0.5999730459639012 508
0.6823234494626917 509
0.7036167677037675 510
0.655431009383589 511
0.5926374721734551 512
0.7158894353110961 513
0.6399329015881847 514
0.7336747842871332 515
0.6397123169612784 516
0.6228262815343029 517
0.5816873458683414 518
0.7682719102752257 519
0.6348872641786928 520
0.5290359117257188 521
0.6159795649241115 522
0.7031162509275286 523
0.5843486201714537 524
0.5896911787218835 525
0.7467963408751719 526
0.7820883768047763 527
0.6634814131615674 528
0.6636469915501346 529
0.7309587406342594 530
0.6674459803217725 531
0.6728352485912796 532
0.7421144040108167 533
0.5724943199495258 534
0.6431614281825988 535
0.6664119618328639 536
0.6202038812865784 537
0.5566657434620779 538
0.7096728031470015 539
0.6865277951315583 540
0.5906744217086801 541
0.6741259720367663 542
0.7132684221116183 543
0.6719922088372836 544
0.6097268599383755 545
0.6719955962280838 546
0.622336609476036 547
0.699321205115204 548
0.5390404087998867 549
0.674917130777541 550
0.7518780395519169 551
0.6657646913348487 552
0.6725528085253711 553
0.665240820771758 554
0.6108453053983536 555
0.7169350747469474 556
0.6327804239607575 557
0.6332524736672009 558
0.6076225190824063 559
0.5357077565014231 560
0.55111024221295 561
0.6461169556001588 562
0.6858501809770824 563
0.667059381825817 564
0.7597428304628779 565
0.7211557085766203 566
0.7477457183399207 567
0.6486665397363758 568
0.7012568170934743 569
0.6113868665514439 570
0.6158212249494257 571
0.7745468105012215 572
0.6050092190633867 573
0.5158508516443607 574
0.6499269854691909 575
0.7455102549100698 576
0.7231469787133142 577
0.7409931184934757 578
0.6351422391101661 579
0.5916063414517927 580
0.5453800409211196 581
0.6358964833423888 582
0.6997465076207419 583
0.6727184594617712 584
0.6122416848843176 585
0.6596108240720113 586
0.6474388914933142 587
0.6938851276403049 588
0.7071997268102674 589
0.670997225557376 590
0.7085475236044431 591
0.7276473768720801 592
0.7377758425770096 593
0.698340933910542 594
0.5482960332324021 595
0.7078691922856013 596
0.6972890780958948 597
0.6611308084617904 598
0.6436708941371992 599
0.6558096502815245 600
0.5679549012388976 601
0.732730647659106 602
0.6572942278487086 603
0.6864487169645581 604
0.6693859606499761 605
0.6116697223231875 606
0.536391863080689 607
0.7839030813741577 608
0.7411011447544738 609
0.6055333538352714 610
0.6935581286256167 611
0.662113295471497 612
0.7205073708431748 613
0.6897017975050341 614
0.5689858105042771 615
0.48207645829072765 616
0.7507313051583632 617
0.6399231877330973 618
0.6905444874023148 619
0.7093707871755142 620
0.6530544209860898 621
0.6203618305627122 622
0.6091297970989882 623
0.653536272975424 624
0.67804187188676 625
0.5570274099268844 626
0.7361342010173313 627
0.6504035241241639 628
0.5959894321669487 629
0.6145496414371485 630
0.6954341006204663 631
0.6829690110088924 632
0.6157899408791097 633
0.5971532181385202 634
0.6487799307464033 635
0.6835853849315547 636
0.6431812808803143 637
0.6866211751709139 638
0.5994609200742202 639
0.5696741703950381 640
0.610835562826129 641
0.5750356935972818 642
0.5446035296539926 643
0.507469494220826 644
0.6395862669430915 645
0.7054102928885622 646
0.6700015205389382 647
0.6459056126724817 648
0.7257948115127717 649
0.6896227901262262 650
0.6522177066489356 651
0.6850093089286216 652
0.6212918051287285 653
0.6980332812429284 654
0.6525125282572395 655
0.6470232566025844 656
0.565040316568423 657
0.6548399865209944 658
0.7138319045603508 659
0.6847704986250488 660
0.7835632965385 661
0.6765878939221065 662
0.5905134691271667 663
0.5239894459618262 664
0.6666043092991013 665
0.7123252461670607 666
0.6603397125162309 667
0.6729122061004968 668
0.5504428704444433 669
0.6654370215380329 670
0.6476905599418237 671
0.7109361532341063 672
0.7865557413368903 673
0.7267154584905 674
0.6297450124813007 675
0.6458311570309092 676
0.6273826832140419 677
0.7539051121836081 678
0.6073088494539427 679
0.6521774592217152 680
0.6533033570697218 681
0.6950157188027932 682
0.6515516398808054 683
0.6590304411810339 684
0.762703563151621 685
0.8105928932540113 686
0.5617273874248659 687
0.6179500827226074 688
0.7546874700596193 689
0.6273088802454088 690
0.6542117436350551 691
0.6026524876832458 692
0.6242616002901578 693
0.7115843161179336 694
0.7143393861739046 695
0.7528919492502218 696
0.6902622749658162 697
0.7364920974997088 698
0.5968976943733608 699
0.595351826977031 700
0.690262232764316 701
0.6242481191789417 702
0.5185347326126459 703
0.7438176092012234 704
0.7130768513352332 705
0.6850652912239678 706
0.6990181998310148 707
0.6265447653869123 708
0.5175186541592909 709
0.6763121625039328 710
0.6109792985069681 711
0.6874044003176965 712
0.7891159534863054 713
0.6577170829257588 714
0.646538130890115 715
0.6512624372869126 716
0.7314867592378489 717
0.6391854152600189 718
0.7037810552748743 719
0.626004343272228 720
0.6652477712049958 721
0.6921948033989602 722
0.7412517731734587 723
0.6985167011842249 724
0.5772035460752778 725
0.756162753188286 726
0.6240438744796731 727
0.7226029888299368 728
0.5981247669054691 729
0.7188746300419467 730
0.5823729418928255 731
0.7694247595954431 732
0.6707830071686844 733
0.6583460137411976 734
0.5894629109367135 735
0.6702023083386894 736
0.6537360838932732 737
0.6190796161523466 738
0.6675224485695814 739
0.6405966117844348 740
0.6972936550495425 741
0.7359288884074822 742
0.7009687981805053 743
0.6033109216978599 744
0.6746888057138046 745
0.7522297470903676 746
0.5990689922792067 747
0.6641188848982624 748
0.5397628272943129 749

0.5996195906138507 750
0.6536885325131759 751
0.65076053842464 752
0.5584791044010043 753
0.6032034888804805 754
0.5212414977265865 755
0.633503733519079 756
0.6993183993667516 757
0.6744856223234105 758
0.6717583218558623 759
0.6972853360718818 760
0.7707711716691459 761
0.7238406330067948 762
0.6891611977737693 763
0.5672610878984964 764
0.7358742207467752 765
0.7093262970370352 766
0.5427384757324654 767
0.5944180497989058 768
0.6612864073235862 769
0.5490033836865793 770
0.6608642965027376 771
0.6765612968821229 772
0.7690681035386102 773
0.6591274308638724 774
0.695161373672515 775
0.5957519750498648 776
0.5517654689268657 777
0.6445272859730594 778
0.6831528293618563 779
0.715904394616 780
0.7371832044109768 781
0.6553290717865496 782
0.7543260881036744 783
0.6130100155336358 784
0.6317155719720293 785
0.6318037963611686 786
0.6584152464780126 787
0.5873790000461436 788
0.4069711810035286 789
0.7634427480201966 790
0.7559988845358625 791
0.7041616929021778 792
0.7493010308693235 793
0.7405845466368672 794
0.6175447729432274 795
0.7260343409871117 796
0.6072783732151795 797
0.7017316459933327 798
0.6650083676202112 799
0.6361865998593423 800
0.559900698788193 801
0.6287859341636208 802
0.6512980064600356 803
0.7030551420893558 804
0.5757268133311606 805
0.588863053574016 806
0.6747995841239319 807
0.6138373944231638 808
0.6402933502833967 809
0.7306347928041772 810
0.6442106492259562 811
0.7245471361320777 812
0.6018414600136524 813
0.7544998152913588 814
0.6625687131552214 815
0.5328103113071467 816
0.7746104499485508 817
0.5793747368102533 818
0.7074301096448321 819
0.6374719142022667 820
0.6563684243552156 821
0.7570899341378429 822
0.5967874912100745 823
0.5901092494669697 824
0.7462158176269862 825
0.6614004023369053 826
0.6677809993064368 827
0.6868467651160735 828
0.5907846158703582 829
0.6296813102215073 830
0.5757406099782677 831
0.6633825559095975 832
0.6652691529558787 833
0.6244555338224137 834
0.7038854287312986 835
0.6587513036166549 836
0.6132753641110191 837
0.6977737519335308 838
0.630142688424738 839
0.7002374160166529 840
0.7727530420776586 841
0.7508982904856611 842
0.6511180051447922 843
0.6335565366259381 844
0.5901640336728315 845
0.6618068953733247 846
0.7308461199268104 847
0.6089410714180956 848
0.7576662144460488 849
0.6602823582897925 850
0.6238123439160319 851
0.6280016651642031 852
0.6696609411634955 853
0.6618632924309136 854
0.6982848430685819 855
0.6022068921275084 856
0.5623196233133805 857
0.7836201715065814 858
0.5985863863645711 859
0.686810126815543 860
0.6974622211863976 861
0.6248129420636914 862
0.5883407957759772 863
0.6579622732527655 864
0.5920928115532593 865
0.6956232835649085 866
0.6076012145514653 867
0.5346809466858589 868
0.568139258330002 869
0.6599931581173129 870
0.6538451336459602 871
0.5244487069080769 872
0.6196626530335436 873
0.6185136168428107 874
0.6014394564893542 875
0.6503939720085065 876
0.7382440993525909 877
0.641787506318098 878
0.7837594165254884 879
0.7653170645961153 880
0.6099883813189337 881
0.6827751746406174 882
0.6035547794815157 883
0.6996796873620028 884
0.6781027589411512 885
0.5806753474949061 886
0.6109346229309514 887
0.6175620919425717 888
0.6918622972691835 889
0.7615905394124131 890
0.7543468784516992 891
0.740072223615901 892
0.7559144462966192 893
0.5671359830042111 894
0.4908873582910308 895
0.6923861753308835 896
0.6862096878631339 897
0.5998181163066616 898
0.6649817461021463 899
0.6938466235800345 900
0.6466676196147724 901
0.6534064587019534 902
0.7470980529630069 903
0.6946508773209056 904
0.6942377897261709 905
0.6831377161745664 906
0.5795424560769817 907
0.701992803666597 908
0.7087290812033311 909
0.704856109276869 910
0.796286775062818 911
0.667875913481595 912
0.635887628083186 913
0.6523845762664076 914
0.7061335220535554 915
0.6022716665133119 916
0.5880540260188915 917
0.6992063843403589 918
0.6671900703472919 919
0.6656598407321672 920
0.7097016994178408 921
0.6830284755688882 922
0.6370844253319895 923
0.6845728052281932 924
0.6540489856965932 925
0.6988953039499239 926
0.6726645869267829 927
0.7375447802657544 928
0.7276281509106568 929
0.6458121718285876 930
0.6169196038431273 931
0.5887898994598098 932
0.6383098530386899 933
0.7121043619736886 934
0.7269308087760462 935
0.7383707087804479 936
0.6363650804193199 937
0.6826929552640385 938
0.6579088384988507 939
0.6942777176242878 940
0.753829878406251 941
0.6752203354124218 942
0.6819871177121255 943
0.7323515034915296 944
0.7252865637236363 945
0.6591077068700144 946
0.5529845888393862 947
0.6303367181339107 948
0.6024617049934993 949
0.5046193447880378 950
0.48587379282904786 951
0.6884920746150783 952
0.6326693088616486 953
0.7201734338360889 954
0.6819175432842346 955
0.5969184598566697 956
0.6537653906056169 957
0.756120585078414 958
0.7044149329369198 959
0.5573511715430369 960
0.6722178031506212 961
0.6577045647969351 962
0.6047272010883602 963
0.5884323845574015 964
0.6044259653057571 965
0.6787531219557181 966
0.7044263582432367 967
0.6848976455793153 968
0.7921764850480429 969
0.6051291639909031 970
0.5914529034207566 971
0.673687882318407 972
0.5448493474089672 973
0.5837446829737507 974
0.662758708807777 975
0.6102424032963529 976
0.6131794877179315 977
0.6003915815740543 978
0.5700275644002634 979
0.5785395353743479 980
0.7136318557078896 981
0.6950879740386758 982
0.7092731968967028 983
0.5799619931349336 984
0.7491095581001619 985
0.7452055720188004 986
0.7087252443091665 987
0.6699544259317602 988
0.7790768716628386 989
0.5887116591689708 990
0.7004312905210447 991
0.6971428830321582 992
0.6076420247177798 993
0.6656347187788134 994
0.745543968667067 995
0.7167465576944312 996
0.6160737586029169 997
0.5598551497444997 998
0.6635708167261736 999

In [56]:
np.argmax(scores)  #returns indices of the max element of the array in a particular axis

419

In [57]:
scores[419]  #to print particular value score[index]

0.8219542310117474

In [58]:
#with random state
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.4, random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)

In [59]:
r2_score(y_test,y_pred)

0.8219542310117474

In [60]:
import pickle
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [61]:
#Pandas DataFrame is a structure that contains two-dimensional data and its corresponding labels.
#if user sends complete data(a row) of a car then we can predict the money as
#data should be written in 1 list separately

In [62]:
pp=pipe.predict(pd.DataFrame([['Hyundai Santro Xing','Hyundai',2015,45000,'Petrol']], columns=['name','company','year','kms_driven','fuel_type']))
print("The price is Rs",int(pp))

The price is Rs 289231

In [63]:
!pip install streamlit

Requirement already satisfied: streamlit in d:\anaconda\lib\site-packages (1.12.0)
Requirement already satisfied: altair>=3.2.0 in d:\anaconda\lib\site-packages (from streamlit) (4.2.0)
Requirement already satisfied: pydeck>=0.1.dev5 in d:\anaconda\lib\site-packages (from streamlit) (0.8.0b3)
Requirement already satisfied: pandas>=0.21.0 in d:\anaconda\lib\site-packages (from streamlit) (1.4.3)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from streamlit) (1.21.5)
Requirement already satisfied: tzlocal>=1.1 in d:\anaconda\lib\site-packages (from streamlit) (4.2)
Requirement already satisfied: importlib-metadata>=1.4 in d:\anaconda\lib\site-packages (from streamlit) (4.11.3)
Requirement already satisfied: click>=7.0 in d:\anaconda\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: pympler>=0.9 in d:\anaconda\lib\site-packages (from streamlit) (1.0.1)
Requirement already satisfied: gitpython!=3.1.19 in d:\anaconda\lib\site-packages (from streamlit) (3.1.27)
Requirement already satisfied: tornado>=5.0 in d:\anaconda\lib\site-packages (from streamlit) (6.1)
Requirement already satisfied: validators>=0.2 in d:\anaconda\lib\site-packages (from streamlit) (0.20.0)
Requirement already satisfied: semver in d:\anaconda\lib\site-packages (from streamlit) (2.13.0)
Requirement already satisfied: toml in d:\anaconda\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: protobuf<4,>=3.12 in d:\anaconda\lib\site-packages (from streamlit) (3.20.2)
Requirement already satisfied: rich>=10.11.0 in d:\anaconda\lib\site-packages (from streamlit) (12.5.1)
Requirement already satisfied: blinker>=1.0.0 in d:\anaconda\lib\site-packages (from streamlit) (1.5)
Requirement already satisfied: watchdog in d:\anaconda\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: typing-extensions>=3.10.0.0 in d:\anaconda\lib\site-packages (from streamlit) (4.3.0)
Requirement already satisfied: pyarrow>=4.0 in d:\anaconda\lib\site-packages (from streamlit) (9.0.0)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda\lib\site-packages (from streamlit) (9.2.0)
Requirement already satisfied: requests>=2.4 in d:\anaconda\lib\site-packages (from streamlit) (2.28.1)
Requirement already satisfied: python-dateutil in d:\anaconda\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: packaging>=14.1 in d:\anaconda\lib\site-packages (from streamlit) (21.3)
Requirement already satisfied: cachetools>=4.0 in d:\anaconda\lib\site-packages (from streamlit) (5.2.0)
Requirement already satisfied: entrypoints in d:\anaconda\lib\site-packages (from altair>=3.2.0->streamlit) (0.4)
Requirement already satisfied: toolz in d:\anaconda\lib\site-packages (from altair>=3.2.0->streamlit) (0.11.2)
Requirement already satisfied: jinja2 in d:\anaconda\lib\site-packages (from altair>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: jsonschema>=3.0 in d:\anaconda\lib\site-packages (from altair>=3.2.0->streamlit) (4.4.0)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from click>=7.0->streamlit) (0.4.5)
Requirement already satisfied: gitdb<5,>=4.0.1 in d:\anaconda\lib\site-packages (from gitpython!=3.1.19->streamlit) (4.0.9)
Requirement already satisfied: zipp>=0.5 in d:\anaconda\lib\site-packages (from importlib-metadata>=1.4->streamlit) (3.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in d:\anaconda\lib\site-packages (from packaging>=14.1->streamlit) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas>=0.21.0->streamlit) (2022.1)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil->streamlit) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests>=2.4->streamlit) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in d:\anaconda\lib\site-packages (from requests>=2.4->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests>=2.4->streamlit) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests>=2.4->streamlit) (1.26.11)
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in d:\anaconda\lib\site-packages (from rich>=10.11.0->streamlit) (2.11.2)
Requirement already satisfied: commonmark<0.10.0,>=0.9.0 in d:\anaconda\lib\site-packages (from rich>=10.11.0->streamlit) (0.9.1)
Requirement already satisfied: pytz-deprecation-shim in d:\anaconda\lib\site-packages (from tzlocal>=1.1->streamlit) (0.1.0.post0)
Requirement already satisfied: tzdata in d:\anaconda\lib\site-packages (from tzlocal>=1.1->streamlit) (2022.2)
Requirement already satisfied: decorator>=3.4.0 in d:\anaconda\lib\site-packages (from validators>=0.2->streamlit) (5.1.1)
Requirement already satisfied: smmap<6,>=3.0.1 in d:\anaconda\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit) (5.0.0)
Requirement already satisfied: MarkupSafe>=0.23 in d:\anaconda\lib\site-packages (from jinja2->altair>=3.2.0->streamlit) (2.0.1)
Requirement already satisfied: attrs>=17.4.0 in d:\anaconda\lib\site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in d:\anaconda\lib\site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.18.0)

WARNING: Error parsing requirements for xmltodict: [Errno 2] No such file or directory: 'd:\\anaconda\\lib\\site-packages\\xmltodict-0.12.0.dist-info\\METADATA'
WARNING: Error parsing requirements for whichcraft: [Errno 2] No such file or directory: 'd:\\anaconda\\lib\\site-packages\\whichcraft-0.6.1.dist-info\\METADATA'
WARNING: Error parsing requirements for sphinxcontrib-websupport: [Errno 2] No such file or directory: 'd:\\anaconda\\lib\\site-packages\\sphinxcontrib_websupport-1.2.4.dist-info\\METADATA'
WARNING: Error parsing requirements for singledispatch: [Errno 2] No such file or directory: 'd:\\anaconda\\lib\\site-packages\\singledispatch-3.7.0.dist-info\\METADATA'

In [64]:
car['name'].unique()

array(['Hyundai Santro Xing', 'Mahindra Jeep CL550', 'Hyundai Grand i10',
       'Ford EcoSport Titanium', 'Ford Figo', 'Hyundai Eon',
       'Ford EcoSport Ambiente', 'Maruti Suzuki Alto',
       'Skoda Fabia Classic', 'Maruti Suzuki Stingray',
       'Hyundai Elite i20', 'Mahindra Scorpio SLE', 'Audi A8', 'Audi Q7',
       'Mahindra Scorpio S10', 'Hyundai i20 Sportz',
       'Maruti Suzuki Vitara', 'Mahindra Bolero DI',
       'Maruti Suzuki Swift', 'Maruti Suzuki Wagon', 'Toyota Innova 2.0',
       'Renault Lodgy 85', 'Skoda Yeti Ambition', 'Maruti Suzuki Baleno',
       'Renault Duster 110', 'Renault Duster 85', 'Honda City 1.5',
       'Maruti Suzuki Dzire', 'Honda Amaze', 'Honda Amaze 1.5',
       'Honda City', 'Datsun Redi GO', 'Maruti Suzuki SX4',
       'Mitsubishi Pajero Sport', 'Honda City ZX', 'Tata Indigo eCS',
       'Volkswagen Polo Highline', 'Chevrolet Spark LS',
       'Renault Duster 110PS', 'Mini Cooper S', 'Skoda Fabia 1.2L',
       'Renault Duster', 'Mahindra Scorpio S4', 'Mahindra Scorpio VLX',
       'Mahindra Quanto C8', 'Ford EcoSport', 'Honda Brio',
       'Volkswagen Vento Highline', 'Hyundai i20 Magna',
       'Toyota Corolla Altis', 'Hyundai Verna Transform', 'BMW 3 Series',
       'Maruti Suzuki A', 'Toyota Etios GD', 'Ford Figo Diesel',
       'Chevrolet Beat LT', 'BMW 7 Series', 'Mahindra XUV500 W8',
       'Hyundai i10 Magna', 'Hyundai Verna Fluidic',
       'Maruti Suzuki Ertiga', 'Honda Amaze 1.2', 'Hyundai i20 Asta',
       'Maruti Suzuki Eeco', 'Maruti Suzuki Esteem', 'Maruti Suzuki Ritz',
       'Toyota Etios Liva', 'Chevrolet Spark', 'Nissan Micra XV',
       'Chevrolet Beat', 'Ford EcoSport Trend', 'Tata Indica V2',
       'Hindustan Motors Ambassador', 'Toyota Innova 2.5',
       'Volkswagen Jetta Highline', 'Volkswagen Polo Comfortline',
       'Volkswagen Polo', 'Mahindra Scorpio', 'Nissan Sunny',
       'Renault Kwid', 'Chevrolet Spark LT', 'Fiat Punto Emotion',
       'Hyundai i10 Sportz', 'Chevrolet Beat LS', 'Tata Indigo CS',
       'Hyundai Eon Era', 'Mahindra XUV500', 'Ford Fiesta', 'Hyundai i20',
       'Hyundai Fluidic Verna', 'Fiat Petra ELX', 'Maruti Suzuki Ciaz',
       'Maruti Suzuki Zen', 'Hyundai Creta 1.6', 'Mahindra Scorpio SLX',
       'Tata Nano Cx', 'Tata Sumo Victa', 'Volkswagen Passat Diesel',
       'Renault Scala RxL', 'Hyundai i20 Active', 'Mahindra Xylo E4',
       'Mahindra Jeep MM', 'Mahindra Bolero SLE', 'Force Motors Force',
       'Toyota Etios', 'Honda City VX', 'Mahindra Thar CRDe',
       'Audi A4 1.8', 'Mercedes Benz GLA', 'Land Rover Freelander',
       'Renault Kwid RXT', 'Tata Aria Pleasure', 'Mercedes Benz B',
       'Datsun GO T', 'Honda Jazz VX', 'Chevrolet Tavera Neo',
       'Hyundai Eon Sportz', 'Tata Sumo Gold', 'Chevrolet Enjoy 1.4',
       'Nissan Terrano XL', 'Maruti Suzuki Maruti', 'Renault Kwid 1.0',
       'Hyundai Accent GLX', 'Mahindra TUV300 T4', 'Honda Accord',
       'Mahindra Scorpio 2.6', 'Honda Mobilio', 'Skoda Laura',
       'Tata Manza Aura', 'Chevrolet Sail UVA', 'Audi A4 2.0',
       'Hyundai Elantra SX', 'Mahindra KUV100 K8', 'Hyundai i10',
       'Hyundai Accent', 'Hyundai Verna', 'Toyota Fortuner',
       'Mahindra Bolero Power', 'Skoda Rapid Elegance',
       'Tata Vista Quadrajet', 'Chevrolet Beat Diesel',
       'Hyundai Verna 1.4', 'Maruti Suzuki Versa', 'Tata Indigo LX',
       'Volkswagen Vento Konekt', 'Mercedes Benz C', 'Maruti Suzuki Omni',
       'Hyundai Sonata Transform', 'Honda Jazz S', 'Mahindra Scorpio W',
       'Honda Brio V', 'Mahindra TUV300 T8', 'Nissan X Trail',
       'Ford Ikon 1.3', 'Toyota Fortuner 3.0', 'Tata Manza ELAN',
       'Mercedes Benz A', 'Tata Indigo LS', 'Hyundai Verna 1.6',
       'BMW 5 Series', 'Skoda Superb 1.8', 'Audi Q3 2.0',
       'Ford Figo Duratorq', 'Mahindra Logan Diesel', 'Tata Nano GenX',
       'Honda City SV', 'Ford Figo Petrol', 'Toyota Corolla H2',
       'Hyundai Xcent Base', 'Hyundai Accent Executive', 'Tata Zest XE',
       'Mahindra XUV500 W6', 'Tata Tigor Revotron', 'Maruti Suzuki 800',
       'Honda Mobilio S', 'Tata Indica', 'Honda Brio VX', 'Tata Nano Lx',
       'Jaguar XE XE', 'Hyundai Eon Magna', 'Hyundai Eon D',
       'Maruti Suzuki Estilo', 'Mahindra Scorpio Vlx',
       'Mitsubishi Lancer 1.8', 'Ford Fiesta SXi', 'Audi A6 2.0',
       'Hyundai Getz Prime', 'Hyundai Santro', 'Chevrolet Beat PS',
       'BMW X1 xDrive20d', 'Tata Nano', 'Chevrolet Cruze LTZ',
       'Mahindra XUV500 W10', 'Hyundai Accent GLE', 'Force Motors One',
       'Chevrolet Spark 1.0', 'Renault Duster 85PS', 'Chevrolet Enjoy',
       'Jeep Wrangler Unlimited', 'Hyundai Verna VGT',
       'Maruti Suzuki Celerio', 'Tata Zest Quadrajet', 'Hyundai i10 Era',
       'Tata Indigo Marina', 'Hyundai Xcent SX', 'Tata Nano LX',
       'Mahindra Xylo E8', 'Tata Manza Aqua', 'Tata Venture EX',
       'Skoda Octavia Classic', 'Ford Ikon 1.6', 'Nissan Sunny XL',
       'Volkswagen Polo Trendline', 'Hyundai Elantra 1.8',
       'Tata Indica eV2', 'Jaguar XF 2.2', 'Audi Q5 2.0',
       'BMW X1 sDrive20d', 'Maruti Suzuki S',
       'Volkswagen Vento Comfortline', 'Mahindra KUV100',
       'Volkswagen Jetta Comfortline', 'Volvo S80 Summum', 'BMW X1',
       'Renault Duster RxL', 'Honda WR V', 'Mahindra Scorpio LX',
       'Audi A3 Cabriolet', 'Hyundai Santro AE', 'Mahindra Xylo D2',
       'Hyundai Getz GLE', 'Nissan Micra XL', 'Chevrolet Tavera LS',
       'Tata Tiago Revotron', 'Tata Tiago Revotorq', 'Ford Fusion 1.4',
       'Fiat Linea Emotion', 'Toyota Corolla', 'Tata Sumo Grande',
       'Volkswagen Polo Highline1.2L', 'Hyundai Creta', 'Tata Bolt XM',
       'Datsun Go Plus', 'Ford Endeavor 4x4', 'Mahindra Logan',
       'Chevrolet Sail 1.2', 'Tata Manza', 'Toyota Etios G',
       'Toyota Qualis', 'Mahindra Quanto C4', 'Hyundai i20 Select',
       'Hyundai Getz', 'Skoda Fabia', 'Tata Zest XM'], dtype=object)

In [65]:
car['company'].unique()

array(['Hyundai', 'Mahindra', 'Ford', 'Maruti', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'], dtype=object)

In [66]:
car.columns

Index(['name', 'company', 'year', 'Price', 'kms_driven', 'fuel_type'], dtype='object')

In [67]:
car['year'].unique()
global df

In [68]:
bitch = [2007, 2006, 2014, 2012, 2013, 2016, 2015, 2010, 2017, 2008, 2018,
       2011, 2019, 2009, 2005, 2000, 2003, 2004, 1995, 2002, 2001]

In [69]:
df1 = df.sort_values('bitch')

NameError: name 'df' is not defined

In [ ]:
df = pd.DataFrame(car)

In [ ]:
df1 = df.sort_values('year')

In [ ]:
bitch.sort()
aa = []

In [ ]:
aa.append(bitch)

In [ ]:
aa

In [ ]:
bitch

In [ ]:
mad = ['Hyundai', 'Mahindra', 'Ford', 'Maruti', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo']

In [ ]:
mad.sort()

In [ ]:
print(mad)

In [ ]:
bro = ['Hyundai Santro Xing', 'Mahindra Jeep CL550', 'Hyundai Grand i10',
       'Ford EcoSport Titanium', 'Ford Figo', 'Hyundai Eon',
       'Ford EcoSport Ambiente', 'Maruti Suzuki Alto',
       'Skoda Fabia Classic', 'Maruti Suzuki Stingray',
       'Hyundai Elite i20', 'Mahindra Scorpio SLE', 'Audi A8', 'Audi Q7',
       'Mahindra Scorpio S10', 'Hyundai i20 Sportz',
       'Maruti Suzuki Vitara', 'Mahindra Bolero DI',
       'Maruti Suzuki Swift', 'Maruti Suzuki Wagon', 'Toyota Innova 2.0',
       'Renault Lodgy 85', 'Skoda Yeti Ambition', 'Maruti Suzuki Baleno',
       'Renault Duster 110', 'Renault Duster 85', 'Honda City 1.5',
       'Maruti Suzuki Dzire', 'Honda Amaze', 'Honda Amaze 1.5',
       'Honda City', 'Datsun Redi GO', 'Maruti Suzuki SX4',
       'Mitsubishi Pajero Sport', 'Honda City ZX', 'Tata Indigo eCS',
       'Volkswagen Polo Highline', 'Chevrolet Spark LS',
       'Renault Duster 110PS', 'Mini Cooper S', 'Skoda Fabia 1.2L',
       'Renault Duster', 'Mahindra Scorpio S4', 'Mahindra Scorpio VLX',
       'Mahindra Quanto C8', 'Ford EcoSport', 'Honda Brio',
       'Volkswagen Vento Highline', 'Hyundai i20 Magna',
       'Toyota Corolla Altis', 'Hyundai Verna Transform', 'BMW 3 Series',
       'Maruti Suzuki A', 'Toyota Etios GD', 'Ford Figo Diesel',
       'Chevrolet Beat LT', 'BMW 7 Series', 'Mahindra XUV500 W8',
       'Hyundai i10 Magna', 'Hyundai Verna Fluidic',
       'Maruti Suzuki Ertiga', 'Honda Amaze 1.2', 'Hyundai i20 Asta',
       'Maruti Suzuki Eeco', 'Maruti Suzuki Esteem', 'Maruti Suzuki Ritz',
       'Toyota Etios Liva', 'Chevrolet Spark', 'Nissan Micra XV',
       'Chevrolet Beat', 'Ford EcoSport Trend', 'Tata Indica V2',
       'Hindustan Motors Ambassador', 'Toyota Innova 2.5',
       'Volkswagen Jetta Highline', 'Volkswagen Polo Comfortline',
       'Volkswagen Polo', 'Mahindra Scorpio', 'Nissan Sunny',
       'Renault Kwid', 'Chevrolet Spark LT', 'Fiat Punto Emotion',
       'Hyundai i10 Sportz', 'Chevrolet Beat LS', 'Tata Indigo CS',
       'Hyundai Eon Era', 'Mahindra XUV500', 'Ford Fiesta', 'Hyundai i20',
       'Hyundai Fluidic Verna', 'Fiat Petra ELX', 'Maruti Suzuki Ciaz',
       'Maruti Suzuki Zen', 'Hyundai Creta 1.6', 'Mahindra Scorpio SLX',
       'Tata Nano Cx', 'Tata Sumo Victa', 'Volkswagen Passat Diesel',
       'Renault Scala RxL', 'Hyundai i20 Active', 'Mahindra Xylo E4',
       'Mahindra Jeep MM', 'Mahindra Bolero SLE', 'Force Motors Force',
       'Toyota Etios', 'Honda City VX', 'Mahindra Thar CRDe',
       'Audi A4 1.8', 'Mercedes Benz GLA', 'Land Rover Freelander',
       'Renault Kwid RXT', 'Tata Aria Pleasure', 'Mercedes Benz B',
       'Datsun GO T', 'Honda Jazz VX', 'Chevrolet Tavera Neo',
       'Hyundai Eon Sportz', 'Tata Sumo Gold', 'Chevrolet Enjoy 1.4',
       'Nissan Terrano XL', 'Maruti Suzuki Maruti', 'Renault Kwid 1.0',
       'Hyundai Accent GLX', 'Mahindra TUV300 T4', 'Honda Accord',
       'Mahindra Scorpio 2.6', 'Honda Mobilio', 'Skoda Laura',
       'Tata Manza Aura', 'Chevrolet Sail UVA', 'Audi A4 2.0',
       'Hyundai Elantra SX', 'Mahindra KUV100 K8', 'Hyundai i10',
       'Hyundai Accent', 'Hyundai Verna', 'Toyota Fortuner',
       'Mahindra Bolero Power', 'Skoda Rapid Elegance',
       'Tata Vista Quadrajet', 'Chevrolet Beat Diesel',
       'Hyundai Verna 1.4', 'Maruti Suzuki Versa', 'Tata Indigo LX',
       'Volkswagen Vento Konekt', 'Mercedes Benz C', 'Maruti Suzuki Omni',
       'Hyundai Sonata Transform', 'Honda Jazz S', 'Mahindra Scorpio W',
       'Honda Brio V', 'Mahindra TUV300 T8', 'Nissan X Trail',
       'Ford Ikon 1.3', 'Toyota Fortuner 3.0', 'Tata Manza ELAN',
       'Mercedes Benz A', 'Tata Indigo LS', 'Hyundai Verna 1.6',
       'BMW 5 Series', 'Skoda Superb 1.8', 'Audi Q3 2.0',
       'Ford Figo Duratorq', 'Mahindra Logan Diesel', 'Tata Nano GenX',
       'Honda City SV', 'Ford Figo Petrol', 'Toyota Corolla H2',
       'Hyundai Xcent Base', 'Hyundai Accent Executive', 'Tata Zest XE',
       'Mahindra XUV500 W6', 'Tata Tigor Revotron', 'Maruti Suzuki 800',
       'Honda Mobilio S', 'Tata Indica', 'Honda Brio VX', 'Tata Nano Lx',
       'Jaguar XE XE', 'Hyundai Eon Magna', 'Hyundai Eon D',
       'Maruti Suzuki Estilo', 'Mahindra Scorpio Vlx',
       'Mitsubishi Lancer 1.8', 'Ford Fiesta SXi', 'Audi A6 2.0',
       'Hyundai Getz Prime', 'Hyundai Santro', 'Chevrolet Beat PS',
       'BMW X1 xDrive20d', 'Tata Nano', 'Chevrolet Cruze LTZ',
       'Mahindra XUV500 W10', 'Hyundai Accent GLE', 'Force Motors One',
       'Chevrolet Spark 1.0', 'Renault Duster 85PS', 'Chevrolet Enjoy',
       'Jeep Wrangler Unlimited', 'Hyundai Verna VGT',
       'Maruti Suzuki Celerio', 'Tata Zest Quadrajet', 'Hyundai i10 Era',
       'Tata Indigo Marina', 'Hyundai Xcent SX', 'Tata Nano LX',
       'Mahindra Xylo E8', 'Tata Manza Aqua', 'Tata Venture EX',
       'Skoda Octavia Classic', 'Ford Ikon 1.6', 'Nissan Sunny XL',
       'Volkswagen Polo Trendline', 'Hyundai Elantra 1.8',
       'Tata Indica eV2', 'Jaguar XF 2.2', 'Audi Q5 2.0',
       'BMW X1 sDrive20d', 'Maruti Suzuki S',
       'Volkswagen Vento Comfortline', 'Mahindra KUV100',
       'Volkswagen Jetta Comfortline', 'Volvo S80 Summum', 'BMW X1',
       'Renault Duster RxL', 'Honda WR V', 'Mahindra Scorpio LX',
       'Audi A3 Cabriolet', 'Hyundai Santro AE', 'Mahindra Xylo D2',
       'Hyundai Getz GLE', 'Nissan Micra XL', 'Chevrolet Tavera LS',
       'Tata Tiago Revotron', 'Tata Tiago Revotorq', 'Ford Fusion 1.4',
       'Fiat Linea Emotion', 'Toyota Corolla', 'Tata Sumo Grande',
       'Volkswagen Polo Highline1.2L', 'Hyundai Creta', 'Tata Bolt XM',
       'Datsun Go Plus', 'Ford Endeavor 4x4', 'Mahindra Logan',
       'Chevrolet Sail 1.2', 'Tata Manza', 'Toyota Etios G',
       'Toyota Qualis', 'Mahindra Quanto C4', 'Hyundai i20 Select',
       'Hyundai Getz', 'Skoda Fabia', 'Tata Zest XM']

In [ ]:
bro.sort()

In [ ]:
print(bro)

In [ ]:
bro.unique()

In [ ]:
bro.values()

In [ ]:
bro

In [ ]:
print(bitch)

In [ ]:
car.columns

In [ ]:
car['kms_driven'].unique()

In [ ]:
car['fuel_type'].unique()

In [ ]:
bitch.sort(reverse=True)

In [ ]:
print(bitch)

In [70]:
from platform import python_version

In [71]:
python_version()

'3.9.13'